{% extends 'layout.html' %}
{% load static %}


{% block content%}

    <!-- Header -->
    <header class="header text-white" style="background-image: url(/static/assets/img/thumb/14.jpg)">
      <div class="overlay opacity-75" style="background-image: linear-gradient(to top, #0d8464 0%, #4c8bb1 100%);"></div>
      <div class="container text-center">

        <div class="row">
          <div class="col-md-8 mx-auto py-8">
            <h1 class="display-41">Girişimlerinizi Güçlü Bir Web Sitesi İle Onurlandırın</h1>
            <p class="lead-2 opacity-901 mt-6">Güçlü Ve Estetik Bir Web Tasarımı Bizim İçin Bir Tutku</p>

          </div>
        </div>

      </div>
    </header><!-- /.header -->
    <!-- Main Content -->
    <main class="main-content">



      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Our Mission
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section">
        <div class="container">
          <div class="row gap-y align-items-center">

            <div class="col-md-8 mx-auto">
              <h2>Hakkımızda</h2>
              <p class="lead">Biz yaratıcı ve deneyimli tasarımcı ve geliştiricilerden oluşan bir ekibiz. Eskiden freelancer olarak çalıştığımızdan ötürü neye ihtiyacın olduğunu biliyoruz ve dahası, müşterilerinizin sizden ne istediğini biliyoruz. </p>
              <p> Herkes neden yeni bir ortak dilin arzu edilmesinin istendiğini anlar: pahalı tercümanlara ödeme yapmayı reddedebilir. Bunu başarmak için düzgün dilbilgisi, telaffuz ve daha yaygın kelimeler olması gerekir. </p>
              <p> Birkaç dil birleştiğinde, ortaya çıkan dilin dilbilgisi bireysel dillerden daha basit ve düzenlidir. Yeni ortak dil, mevcut Avrupa dillerinden daha basit ve düzenli olacak. Bizim Web sitelerimiz basit bir dille kompleks bir yapı benimser.</p>

            </div>

          </div>
        </div>
      </section>


      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Numbers
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section bg-gray">
        <div class="container">
          <div class="row gap-y">

            <div class="col-md-4">
              <div class="row">
                <div class="col-6">
                  <h4 class="lead-7 text-right" data-provide="countup" data-from="0" data-to="42"></h4>
                </div>

                <div class="col-6">
                  <p class="small text-uppercase ls-2 mb-2">Projeler</p>
                  <p><i class="icon-briefcase lead-4 mb-0"></i></p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="row">
                <div class="col-6">
                  <h4 class="lead-7 text-right" data-provide="countup" data-from="0" data-to="3500"></h4>
                </div>

                <div class="col-6">
                  <p class="small text-uppercase ls-2 mb-2">Müşteriler</p>
                  <p><i class="icon-profile-male lead-4 mb-0"></i></p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="row">
                <div class="col-6">
                  <h4 class="lead-7 text-right" data-provide="countup" data-from="0" data-to="100" data-prefix="%"></h4>
                </div>

                <div class="col-6">
                  <p class="small text-uppercase ls-2 mb-2">Memnuniyet</p>
                  <p><i class="icon-happy lead-4 mb-0"></i></p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>


      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Services
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section">
        <div class="container">
          <header class="section-header">
            <small>Yardım Servisi</small>
            <h2>Yardıma İhtiyacın Varsa</h2>
            <hr>
            <p class="lead">Takımınıza aşağıdaki şekillerde yardımcı olabiliriz. Daha fazla bilgi için bizimle iletişime geçmekten çekinmeyin.</p>
          </header>


          <div class="row gap-y">

            <div class="col-md-6 col-xl-4">
              <div class="text-center">
                <p class="mb-6"><i class="icon-tools text-primary lead-8"></i></p>
                <h5><strong>Marka & Tasarım </strong></h5>
                <p>Web sayfalarınız, masaüstü, tablet ve mobil dahil tüm cihazlarda ve ekran boyutlarında iyi görünür.</p>
              </div>
            </div>

            <div class="col-md-6 col-xl-4">
              <div class="text-center">
                <p class="mb-6"><i class="icon-mobile text-primary lead-8"></i></p>
                <h5><strong>Mobil Uygulamalar</strong></h5>
                <p>Web sayfalarınız, masaüstü, tablet ve mobil dahil tüm cihazlarda ve ekran boyutlarında iyi görünür.</p>
              </div>
            </div>

            <div class="col-md-6 col-xl-4">
              <div class="text-center">
                <p class="mb-6"><i class="icon-browser text-primary lead-8"></i></p>
                <h5><strong>Web Uygulamaları</strong></h5>
                <p>Web sayfalarınız, masaüstü, tablet ve mobil dahil tüm cihazlarda ve ekran boyutlarında iyi görünür.</p>
              </div>
            </div>

          </div>


        </div>
      </section>



      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Team
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section">
        <div class="container">
          <header class="section-header">
            <small>Çalışanlarımız</small>
            <h2>Muhteşem Ekip</h2>
            <hr>
            <p class="lead">Meet our small team that make those great products.</p>
          </header>

          <div class="row d-flex justify-content-center">
            <div class="col-md-4 team-2">
              <a href="#">
                <img src= "{% static '/assets/img/avatar/1.jpg' %}" alt="...">
              </a>
              <h5>Arınç Aslan</h5>
              <small>Co-Founder & Web Tasarımcısı</small>

              <br>
              <div class="social social-brand">
                <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="social-gplus" href="#"><i class="fa fa-google-plus"></i></a>
                <a class="social-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>


            <div class="col-md-4 team-2">
              <a href="#">
                <img src= "{% static '/assets/img/avatar/2.jpg' %}" alt="...">
              </a>
              <h5>Berk Elmas</h5>
              <small>Co-Founder & Web Tasarımcısı</small>

              <br>
              <div class="social social-brand">
                <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="social-gplus" href="#"><i class="fa fa-google-plus"></i></a>
                <a class="social-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>


          </div>

        </div>
      </section>

{% endblock %}
